[package]
name = "raxiom"
version = "0.1.0"
edition = "2021"
resolver="2"
authors = [
    "Toni Peter <mail@tonipeter.de>",
]

[features]
default = ["mpi"]
mpi = []
mpi_test = []
2d = ["diman/default-2d"]

[dependencies]
bevy = { version = "0.9.0", default-features = false, features = ["bevy_render", "x11", "bevy_winit", "bevy_asset", "bevy_sprite", "bevy_core_pipeline"]}
clap = {version = "3.2.23", features = ["derive"]}
derive_more = "0.99.17"
glam = "0.21.3"
hdf5 = "0.8.1"
lazy_static = "1.4.0"
mpi = { version = "0.6", default-features = false, features = ["derive"] }
serde = {version = "1.0.147", features = ["derive"] }
serde_yaml = "0.9.14"
derive_custom = { path = "crates/derive_custom" }
diman = { git = "https://github.com/tehforsch/diman", default-features = false, features = ["mpi", "hdf5", "serde", "rand"] }
rand = "0.8.5"
paste = "1.0.9"
once_cell = "1.16.0"
num-traits = "0.2.15"
derive_traits = {path =  "crates/derive_traits" }

[dev-dependencies]
criterion = { version = "0.4.0", features = ["html_reports"] }
macro_utils = { path = "crates/macro_utils" }

# Optimize dependencies even in a debug build
[profile.dev.package."*"]
opt-level = 3

[profile.release-lto]
inherits = "release"
lto = true

[[example]]
name = "mpi_test"
required-features = ["mpi", "mpi_test"]

[[example]]
name = "figure8"
required-features = ["mpi", "2d"]

[[example]]
name = "kelvin_helmholtz_instability"
required-features = ["mpi", "2d"]

[[example]]
name = "1d_wave"
required-features = ["mpi", "2d"] # This is slightly ironic, but this test is only effectively 1d

[[example]]
name = "gravity_collapse"
required-features = ["mpi"]

[[bench]]
name = "hydrodynamics"
harness = false

[[bench]]
name = "gravity"
harness = false

[[bench]]
name = "quadtree"
harness = false